<h1>比赛列表</h1>
<% if flash[:notice] != nil %>
  <div class="alert alert-danger col-lg-offset-4 col-lg-2"><%= flash[:notice] %></div>
  <% flash[:notice] = nil %>
<% end %>
<table>
  <tr>
    <th>比赛名</th>
    <th>届数</th>
    <th>报名截止时间</th>
    <th>比赛结束时间</th>
    <th>当前状态</th>
    <th>报名比赛</th>
  </tr>

  <% @competitions.each do |competition| %>
    <tr>
      <td><%= competition.name %></td>
      <td><%= competition.version %></td>
      <td><%= competition.deadline %></td>
      <td><%= competition.endtime %></td>
      <% if @current_date < competition.deadline %>
        <td>报名中</td>
        <td>
          <form action="client_create_group" method="post">
            <input type="hidden" name="id" value="<%= competition.id %>">
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <input type="submit" value="报名" />
          </form>
        </td>
      <% elsif @current_date < competition.endtime %>
        <td>进行中</td>
        <td>无法报名</td>
      <% else %>
        <td>已结束</td>
        <td>无法报名</td>
      <% end %>
    </tr>
  <% end %>
</table>