<div class="container">
  <h1 align="center">修改密码</h1>

  <% if flash[:notice] != nil %>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="alert alert-danger col-md-2 text-center">
        <%= flash[:notice] %>
      </div>
    </div>
    <% flash[:notice] = nil %>
  <% end %>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <strong>学号：</strong>
      <%= @student.student_id %>
    </div>
  </div>
  <%= form_tag change_password_path, method: 'post' do %>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2 text-center">
        <%= label_tag :旧密码 %><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2 text-center">
        <%= password_field_tag :old_pass %>
      </div>
    </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <%= label_tag :新密码 %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <%= password_field_tag :new_pass %>
    </div>
  </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2 text-center">
        <%= submit_tag :修改%>
      </div>
    </div>

  <% end %>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <%= link_to '返回个人信息', client_profile_path%>
    </div>
  </div>
</div>