<div class="container">
<h1 align="center">队伍信息</h1>

  <table class="table">

  <tr>
    <th class="text-right">
  <strong>参加比赛：</strong>
    </th>
    <td>
  <%= @group.competition.name %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>队伍名为：</strong>
    </th>
    <td>
  <%= @group.name %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>队员一学号为：</strong>
    </th>
    <td>
  <%= @group.mema %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>队员二学号为：</strong>
    </th>
    <td>
  <%= @group.memb %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>队员三学号为：</strong>
    </th>
    <td>
  <%= @group.memc %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>队员四学号为：</strong>
    </th>
    <td>
  <%= @group.memd %>
    </td>
  </tr>


<% if @group.achievement != nil %>
    <tr>
      <th class="text-right">
    <strong>获得奖项：</strong>
      </th>
      <td>
    <%= @group.achievement.prize %>
      </td>
    </tr>
<% end %>

  </table>


  <div class="row">
    <div class="col-md-4"></div>
    <a class="btn btn-success" href="/client_group/<%= @group.id %>/edit">编辑队伍信息</a>&nbsp;
    <a class="btn btn-success" href="/client_group/<%= @group.id %>/add_achievement">编辑获奖信息</a>&nbsp;
    <a class="btn btn-primary" href="/client_group">返回参赛列表</a>
  </div>


</div>
