<div class="container">
<h1 align="center">个人信息</h1>

  <% if flash[:notice] != nil %>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="alert alert-success col-md-2 text-center">
        <%= flash[:notice] %>
      </div>
    </div>
    <% flash[:notice] = nil %>
  <% end %>

  <table class="table">

  <tr>
    <th class="text-right">
  <strong>学号为：</strong>
    </th>
    <td>
  <%= @student.student_id %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>姓名为：</strong>
    </th>
    <td>
  <%= @student.name %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>所在学院为：</strong>
    </th>
    <td>
  <%= @student.college.name %>
    </td>
  </tr>

  <tr>
    <th class="text-right">
  <strong>邮箱为：</strong>
    </th>
    <td>
  <%= @student.email %>
    </td>
  </tr>

  </table>

  <div class="row">
    <div class="col-md-5"></div>
    <%= link_to '修改邮箱', edit_email_path, class: "btn btn-success col-md-1" %>&nbsp;
    <%= link_to '修改密码', edit_password_path, class: "btn btn-success col-md-1" %>
  </div>

</div>
