<div class="container">
  <br><br><br><br>
  <h1 class="text-center" style="font-size: 200%">管理员登录</h1>

    <%= form_for :admin_session, url: admin_login_url, method: :post do |f| %>
      <% if flash[:notice] != nil %>
      <div class="alert alert-danger col-lg-offset-4 col-lg-3"><%= flash[:notice] %></div>
        <% flash[:notice] = nil %>
      <% end %>
    <div class="form-group">
      <%= f.label :管理员用户名, class:"control-label col-lg-offset-4" %>
      <%= f.text_field :name, class: "form-control col-lg-offset-4", placeholder: "Input your admin username" %>
    </div>
    <div class="form-group">
      <%= f.label :密码, class:"control-label col-lg-offset-4" %>
      <%= f.password_field :password, class: "form-control col-lg-offset-4" %>
    </div>
      <%= f.submit "登录", class: "btn-primary" %>
    <% end %>

<%= link_to '返回主界面', root_path %>
</div>