<div style="text-align: center;">
  <br><br><br>
<p>
  <strong>学号为：</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>姓名为：</strong>
  <%= @student.name %>
</p>

<p>
  <strong>所在学院为：</strong>
  <%= @student.college.name %>
</p>

<p>
  <strong>邮箱为：</strong>
  <%= @student.email %>
</p>

<%= link_to '返回学生列表', students_path %>
</div>
