<div class="container">

  <h1 align="center">
    奖项列表
  </h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>参加比赛</th>
    <th>比赛届数</th>
    <th>获奖队伍</th>
    <th>所获奖项</th>
    <th>管理</th>
  </tr>

  <% @achievements.each do |achievement| %>
    <tr>
      <td><%= achievement.group.competition.name %></td>
      <td><%= achievement.group.competition.version %></td>
      <td><%= achievement.group.name %></td>
      <td><%= achievement.prize %></td>
      <td><%= link_to '详情', achievement_path(achievement), class: "btn btn-primary" %>
      <%= link_to '删除', achievement_path(achievement),
                      method: :delete,
                      data: { confirm: '确认删除?' }, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
</div>
