<!DOCTYPE html>
<html>
  <head>
    <title>CompetitionManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if session[:admin_id] == nil && session[:student_id] == nil %>
  <% session[:backgroud] = 'bg1' %>
<% elsif session[:admin_id] != nil %>
  <% session[:backgroud] = 'bg2' %>
<% else %>
  <% session[:backgroud] = 'bg2' %>
<% end %>

  <body class="<%= session[:backgroud] %>">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
      <h1 class="navbar-item text-white">SCMS</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <% if session[:admin_id] == nil && session[:student_id] == nil %>

          <li class="nav-item active">
            <a class="nav-link" href="">Please login first</a>
          </li>

          <% elsif session[:student_id] != nil %>

            <li class="nav-item active">
              <a class="nav-link" href="client_competition">比赛列表</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="client_group">参赛情况</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="client_profile">个人信息</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="client_logout">退出登录</a>
            </li>


          <% else %>
            <li class="nav-item active">
              <a class="nav-link" href="colleges">学院管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">老师管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="students">学生管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">比赛管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">队伍管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">成果管理</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="admin_logout">退出登录</a>
            </li>

          <% end %>



        </ul>
      </div>
    </div>
  </nav>

    <%= yield %>

  </body>
</html>
